body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tnTUFzPO03 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnTUFzPO03 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnTUFzPO03 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnTUFzPO03 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnTUFzPO03 .row {
  flex-direction: row-reverse;
}
.cid-tnTUFzPO03 img {
  width: 100%;
}
.cid-tnTUGJ5MFc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnTUGJ5MFc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnTUGJ5MFc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnTUGJ5MFc .mbr-section-subtitle {
  text-align: left;
}
.cid-tnWY6cH8A5 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnWY6cH8A5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnWY6cH8A5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnWY6cH8A5 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnWY6cH8A5 .row {
  flex-direction: row-reverse;
}
.cid-tnWY6cH8A5 img {
  width: 100%;
}
.cid-tnWY6OQWvv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnWY6OQWvv .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnWY6OQWvv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnWY6OQWvv .mbr-section-subtitle {
  text-align: left;
}
.cid-tnWYcZlCvG {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnWYcZlCvG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnWYcZlCvG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnWYcZlCvG .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnWYcZlCvG .row {
  flex-direction: row-reverse;
}
.cid-tnWYcZlCvG img {
  width: 100%;
}
.cid-tnWYeIvIM1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnWYeIvIM1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnWYeIvIM1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnWYeIvIM1 .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX3spPo3X {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX3spPo3X .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX3spPo3X .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX3spPo3X .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX3spPo3X .row {
  flex-direction: row-reverse;
}
.cid-tnX3spPo3X img {
  width: 100%;
}
.cid-tnX3t1MKUw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX3t1MKUw .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX3t1MKUw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX3t1MKUw .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX42KA5C6 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX42KA5C6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX42KA5C6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX42KA5C6 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX42KA5C6 .row {
  flex-direction: row-reverse;
}
.cid-tnX42KA5C6 img {
  width: 100%;
}
.cid-tnX442eXjU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX442eXjU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX442eXjU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX442eXjU .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX4EBDdgu {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX4EBDdgu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX4EBDdgu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX4EBDdgu .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX4EBDdgu .row {
  flex-direction: row-reverse;
}
.cid-tnX4EBDdgu img {
  width: 100%;
}
.cid-tnX4F198YE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX4F198YE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX4F198YE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX4F198YE .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX643j67j {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX643j67j .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX643j67j .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX643j67j .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX643j67j .row {
  flex-direction: row-reverse;
}
.cid-tnX643j67j img {
  width: 100%;
}
.cid-tnX64vhwIh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX64vhwIh .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX64vhwIh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX64vhwIh .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX68ZIPHG {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX68ZIPHG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX68ZIPHG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX68ZIPHG .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX68ZIPHG .row {
  flex-direction: row-reverse;
}
.cid-tnX68ZIPHG img {
  width: 100%;
}
.cid-tnX69pypZB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX69pypZB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX69pypZB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX69pypZB .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX6ekTZJM {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX6ekTZJM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX6ekTZJM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX6ekTZJM .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX6ekTZJM .row {
  flex-direction: row-reverse;
}
.cid-tnX6ekTZJM img {
  width: 100%;
}
.cid-tnX6eIyPBi {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX6eIyPBi .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX6eIyPBi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX6eIyPBi .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX6EXvacF {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX6EXvacF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX6EXvacF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX6EXvacF .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX6EXvacF .row {
  flex-direction: row-reverse;
}
.cid-tnX6EXvacF img {
  width: 100%;
}
.cid-tnX6G8uqyW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX6G8uqyW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX6G8uqyW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX6G8uqyW .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX6O4H4hz {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX6O4H4hz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX6O4H4hz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX6O4H4hz .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX6O4H4hz .row {
  flex-direction: row-reverse;
}
.cid-tnX6O4H4hz img {
  width: 100%;
}
.cid-tnX6OE40oF {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX6OE40oF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX6OE40oF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX6OE40oF .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX6VpglPZ {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX6VpglPZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX6VpglPZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX6VpglPZ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX6VpglPZ .row {
  flex-direction: row-reverse;
}
.cid-tnX6VpglPZ img {
  width: 100%;
}
.cid-tnX6VWcZde {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX6VWcZde .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX6VWcZde .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX6VWcZde .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX71kD4UA {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX71kD4UA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX71kD4UA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX71kD4UA .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX71kD4UA .row {
  flex-direction: row-reverse;
}
.cid-tnX71kD4UA img {
  width: 100%;
}
.cid-tnX73e4La8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX73e4La8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX73e4La8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX73e4La8 .mbr-section-subtitle {
  text-align: left;
}
.cid-tnX77CM39c {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnX77CM39c .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX77CM39c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnX77CM39c .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnX77CM39c .row {
  flex-direction: row-reverse;
}
.cid-tnX77CM39c img {
  width: 100%;
}
.cid-tnX7871JDI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnX7871JDI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnX7871JDI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnX7871JDI .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXcjPfms4 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXcjPfms4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXcjPfms4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXcjPfms4 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXcjPfms4 .row {
  flex-direction: row-reverse;
}
.cid-tnXcjPfms4 img {
  width: 100%;
}
.cid-tnXcknD2t6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXcknD2t6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXcknD2t6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXcknD2t6 .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXf8hFOjr {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXf8hFOjr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXf8hFOjr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXf8hFOjr .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXf8hFOjr .row {
  flex-direction: row-reverse;
}
.cid-tnXf8hFOjr img {
  width: 100%;
}
.cid-tnXf8McE8z {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXf8McE8z .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXf8McE8z .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXf8McE8z .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXfcdXieu {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXfcdXieu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXfcdXieu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXfcdXieu .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXfcdXieu .row {
  flex-direction: row-reverse;
}
.cid-tnXfcdXieu img {
  width: 100%;
}
.cid-tnXfcCQTGy {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXfcCQTGy .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXfcCQTGy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXfcCQTGy .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXffvdfeZ {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXffvdfeZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXffvdfeZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXffvdfeZ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXffvdfeZ .row {
  flex-direction: row-reverse;
}
.cid-tnXffvdfeZ img {
  width: 100%;
}
.cid-tnXffRHuyg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXffRHuyg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXffRHuyg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXffRHuyg .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXfFHiyJj {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXfFHiyJj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXfFHiyJj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXfFHiyJj .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXfFHiyJj .row {
  flex-direction: row-reverse;
}
.cid-tnXfFHiyJj img {
  width: 100%;
}
.cid-tnXfG8YFco {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXfG8YFco .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXfG8YFco .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXfG8YFco .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXfJ9Jyrx {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXfJ9Jyrx .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXfJ9Jyrx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXfJ9Jyrx .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXfJ9Jyrx .row {
  flex-direction: row-reverse;
}
.cid-tnXfJ9Jyrx img {
  width: 100%;
}
.cid-tnXgpE5BJG {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXgpE5BJG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXgpE5BJG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXgpE5BJG .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXkn3VDKp {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXkn3VDKp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXkn3VDKp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXkn3VDKp .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXkn3VDKp .row {
  flex-direction: row-reverse;
}
.cid-tnXkn3VDKp img {
  width: 100%;
}
.cid-tnXkntPkDH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXkntPkDH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXkntPkDH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXkntPkDH .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXlbfuT6P {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXlbfuT6P .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXlbfuT6P .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXlbfuT6P .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXlbfuT6P .row {
  flex-direction: row-reverse;
}
.cid-tnXlbfuT6P img {
  width: 100%;
}
.cid-tnXlckLx0e {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXlckLx0e .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXlckLx0e .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXlckLx0e .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXlZ6WTOg {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXlZ6WTOg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXlZ6WTOg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXlZ6WTOg .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXlZ6WTOg .row {
  flex-direction: row-reverse;
}
.cid-tnXlZ6WTOg img {
  width: 100%;
}
.cid-tnXlZHySn4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXlZHySn4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXlZHySn4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXlZHySn4 .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXm4Hdo2c {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXm4Hdo2c .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXm4Hdo2c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXm4Hdo2c .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXm4Hdo2c .row {
  flex-direction: row-reverse;
}
.cid-tnXm4Hdo2c img {
  width: 100%;
}
.cid-tnXm5cPZQ9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXm5cPZQ9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXm5cPZQ9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXm5cPZQ9 .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXpaT9L3W {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXpaT9L3W .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXpaT9L3W .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXpaT9L3W .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXpaT9L3W .row {
  flex-direction: row-reverse;
}
.cid-tnXpaT9L3W img {
  width: 100%;
}
.cid-tnXpbigczD {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXpbigczD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXpbigczD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXpbigczD .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXpf5oN5D {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXpf5oN5D .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXpf5oN5D .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXpf5oN5D .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXpf5oN5D .row {
  flex-direction: row-reverse;
}
.cid-tnXpf5oN5D img {
  width: 100%;
}
.cid-tnXpfyHr7z {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXpfyHr7z .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXpfyHr7z .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXpfyHr7z .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXplUBeT9 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXplUBeT9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXplUBeT9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXplUBeT9 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXplUBeT9 .row {
  flex-direction: row-reverse;
}
.cid-tnXplUBeT9 img {
  width: 100%;
}
.cid-tnXpmqclb0 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXpmqclb0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXpmqclb0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXpmqclb0 .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXqmWYLS6 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXqmWYLS6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXqmWYLS6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXqmWYLS6 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXqmWYLS6 .row {
  flex-direction: row-reverse;
}
.cid-tnXqmWYLS6 img {
  width: 100%;
}
.cid-tnXqnL4w8x {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXqnL4w8x .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXqnL4w8x .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXqnL4w8x .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXqr5yb0b {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXqr5yb0b .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXqr5yb0b .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXqr5yb0b .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXqr5yb0b .row {
  flex-direction: row-reverse;
}
.cid-tnXqr5yb0b img {
  width: 100%;
}
.cid-tnXqsa7kzC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXqsa7kzC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXqsa7kzC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXqsa7kzC .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXDNCxQBn {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXDNCxQBn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDNCxQBn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXDNCxQBn .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXDNCxQBn .row {
  flex-direction: row-reverse;
}
.cid-tnXDNCxQBn img {
  width: 100%;
}
.cid-tnXDNFHGof {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXDNFHGof .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDNFHGof .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXDNFHGof .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXDPqFcVt {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXDPqFcVt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDPqFcVt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXDPqFcVt .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXDPqFcVt .row {
  flex-direction: row-reverse;
}
.cid-tnXDPqFcVt img {
  width: 100%;
}
.cid-tnXDPsmH3k {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXDPsmH3k .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDPsmH3k .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXDPsmH3k .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXDQNNl3A {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXDQNNl3A .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDQNNl3A .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXDQNNl3A .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXDQNNl3A .row {
  flex-direction: row-reverse;
}
.cid-tnXDQNNl3A img {
  width: 100%;
}
.cid-tnXDQPhskP {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXDQPhskP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDQPhskP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXDQPhskP .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXDSdDZxx {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXDSdDZxx .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDSdDZxx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXDSdDZxx .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXDSdDZxx .row {
  flex-direction: row-reverse;
}
.cid-tnXDSdDZxx img {
  width: 100%;
}
.cid-tnXDSeVV72 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXDSeVV72 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDSeVV72 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXDSeVV72 .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXDVgPaqJ {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXDVgPaqJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDVgPaqJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXDVgPaqJ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXDVgPaqJ .row {
  flex-direction: row-reverse;
}
.cid-tnXDVgPaqJ img {
  width: 100%;
}
.cid-tnXDVigo3g {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXDVigo3g .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXDVigo3g .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXDVigo3g .mbr-section-subtitle {
  text-align: left;
}
.cid-tnXGuSxNjW {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tnXGuSxNjW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXGuSxNjW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tnXGuSxNjW .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tnXGuSxNjW .row {
  flex-direction: row-reverse;
}
.cid-tnXGuSxNjW img {
  width: 100%;
}
.cid-tnXGuUO3BG {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tnXGuUO3BG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tnXGuUO3BG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tnXGuUO3BG .mbr-section-subtitle {
  text-align: left;
}
.cid-to1mGZoRfw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-to1mGZoRfw .mbr-fallback-image.disabled {
  display: none;
}
.cid-to1mGZoRfw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-to1mGZoRfw .mbr-section-subtitle {
  text-align: left;
}
