body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tocVjlVViz {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tocVjlVViz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocVjlVViz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocVjlVViz .mbr-section-subtitle {
  text-align: center;
}
.cid-toQUGqRFm7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYnJchUh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYnJchUh .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYnJchUh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYnJchUh .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYnJchUh .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYnS1RqL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYnS1RqL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYnS1RqL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYnS1RqL .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYnYUgVH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYnYUgVH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYnYUgVH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYnYUgVH .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYo5TppW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYo5TppW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYo5TppW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYo5TppW .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYobke0n {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYobke0n .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYobke0n .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYobke0n .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYoAwrC7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYoAwrC7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYoAwrC7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYoAwrC7 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYoHm0h7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYoHm0h7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYoHm0h7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYoHm0h7 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYoNKEj1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYoNKEj1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYoNKEj1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYoNKEj1 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYoVXG2o {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYoVXG2o .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYoVXG2o .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYoVXG2o .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYpSlqKf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYpSlqKf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYpSlqKf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYpSlqKf .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYq1izlM {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYq1izlM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYq1izlM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYq1izlM .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYq6Gupd {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYq6Gupd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYq6Gupd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYq6Gupd .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYqc5LB6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYqc5LB6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYqc5LB6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYqc5LB6 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYqgS0dS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYqgS0dS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYqgS0dS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYqgS0dS .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYqlukG2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYqlukG2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYqlukG2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYqlukG2 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYqq9Cmj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYqq9Cmj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYqq9Cmj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYqq9Cmj .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYquIVwC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYquIVwC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYquIVwC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYquIVwC .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYqBEyVY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYqBEyVY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYqBEyVY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYqBEyVY .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYqHW4ke {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYqHW4ke .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYqHW4ke .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYqHW4ke .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYrxqgYo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYrxqgYo .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYrxqgYo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYrxqgYo .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYrxqgYo .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYrCRglR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYrCRglR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYrCRglR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYrCRglR .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYrGBBbp {
  background-color: #ffffff;
}
.cid-tocYrGBBbp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYrGBBbp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYrGBBbp .mbr-section-subtitle {
  text-align: center;
}
.cid-toSFxbkhgQ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-toSFxbkhgQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-toSFxbkhgQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toSFxbkhgQ .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYrO2HG9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYrO2HG9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYrO2HG9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYrO2HG9 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYrRXFgw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYrRXFgw .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYrRXFgw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYrRXFgw .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYrWvxcp {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYrWvxcp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYrWvxcp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYrWvxcp .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYs6j5fS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYs6j5fS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYs6j5fS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYs6j5fS .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsdLUSU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYsdLUSU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYsdLUSU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYsdLUSU .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsiiHYT {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYsiiHYT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYsiiHYT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYsiiHYT .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsm55w4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYsm55w4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYsm55w4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYsm55w4 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsm55w4 .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYsqcGPE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYsqcGPE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYsqcGPE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYsqcGPE .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsy59B7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYsy59B7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYsy59B7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYsy59B7 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsD2ttt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYsD2ttt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYsD2ttt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYsD2ttt .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsILdzX {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYsILdzX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYsILdzX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYsILdzX .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsOYfVq {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYsOYfVq .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYsOYfVq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYsOYfVq .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsTOhmm {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYsTOhmm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYsTOhmm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYsTOhmm .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYsTOhmm .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-toznabwGbu {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toznabwGbu .mbr-fallback-image.disabled {
  display: none;
}
.cid-toznabwGbu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toznabwGbu .mbr-section-subtitle {
  text-align: center;
}
.cid-toznabwGbu .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-nctNQa3o75 {
  background-color: #353535;
}
.cid-nctNQa3o75 video,
.cid-nctNQa3o75 img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cid-nctNQa3o75 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9b59b6;
  opacity: 0.4;
}
.cid-nctNQa3o75 .show {
  visibility: visible;
}
.cid-nctNQa3o75 .hide {
  visibility: hidden;
}
.cid-nctNQa3o75 .overlay {
  background: #000000;
  opacity: 0;
}
.cid-nctNQa3o75 .row {
  padding-left: 5% !important;
  padding-right: 5% !important;
}
.cid-tocYt37EYJ {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tocYt37EYJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYt37EYJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYt37EYJ .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYt37EYJ .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-toMzqTrrih {
  background-color: #353535;
}
.cid-toMzqTrrih video,
.cid-toMzqTrrih img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cid-toMzqTrrih .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9b59b6;
  opacity: 0.4;
}
.cid-toMzqTrrih .show {
  visibility: visible;
}
.cid-toMzqTrrih .hide {
  visibility: hidden;
}
.cid-toMzqTrrih .overlay {
  background: #000000;
  opacity: 0;
}
.cid-toMzqTrrih .row {
  padding-left: 5% !important;
  padding-right: 5% !important;
}
.cid-tocYt71Cam {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYt71Cam .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYt71Cam .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYt71Cam .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYt71Cam .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYtaqcHM {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtaqcHM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtaqcHM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtaqcHM .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYtdFvKB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtdFvKB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtdFvKB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtdFvKB .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYtnQ6TO {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtnQ6TO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtnQ6TO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtnQ6TO .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYtnQ6TO .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYtulC4x {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtulC4x .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtulC4x .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtulC4x .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYtC6FfB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtC6FfB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtC6FfB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtC6FfB .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYtHASu9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtHASu9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtHASu9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtHASu9 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYtMDpfx {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtMDpfx .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtMDpfx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtMDpfx .mbr-section-subtitle {
  text-align: left;
}
.cid-tocYtMDpfx .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYtPUhwE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtPUhwE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtPUhwE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtPUhwE .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYtPUhwE .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYtSXgJt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtSXgJt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtSXgJt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtSXgJt .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYtVPYLz {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYtVPYLz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYtVPYLz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYtVPYLz .mbr-section-subtitle {
  text-align: left;
}
.cid-tocYtVPYLz .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYu8h4CA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYu8h4CA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYu8h4CA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYu8h4CA .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYu8h4CA .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYubblgK {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYubblgK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYubblgK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYubblgK .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYue3PeL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYue3PeL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYue3PeL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYue3PeL .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYue3PeL .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYuixcup {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYuixcup .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYuixcup .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYuixcup .mbr-section-subtitle {
  text-align: left;
}
.cid-tocYuixcup .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYulhMln {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYulhMln .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYulhMln .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYulhMln .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYulhMln .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYusMOeM {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYusMOeM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYusMOeM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYusMOeM .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYusMOeM .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYuBlTew {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYuBlTew .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYuBlTew .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYuBlTew .mbr-section-subtitle {
  text-align: left;
}
.cid-tocYuBlTew .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYuHaJCC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYuHaJCC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYuHaJCC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYuHaJCC .mbr-section-subtitle {
  text-align: left;
}
.cid-tocYuHaJCC .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYuLNoSu {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYuLNoSu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYuLNoSu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYuLNoSu .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYuRS6Iq {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYuRS6Iq .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYuRS6Iq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYuRS6Iq .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYuRS6Iq .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYuW93Nl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYuW93Nl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYuW93Nl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYuW93Nl .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYuW93Nl .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYuZmVqn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYuZmVqn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYuZmVqn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYuZmVqn .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYv2Ehg9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYv2Ehg9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYv2Ehg9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYv2Ehg9 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYv5PqiH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYv5PqiH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYv5PqiH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYv5PqiH .mbr-section-subtitle {
  text-align: left;
}
.cid-tocYv5PqiH .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tocYv9JZKg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYv9JZKg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYv9JZKg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYv9JZKg .mbr-section-subtitle {
  text-align: left;
}
.cid-tocYv9JZKg .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-toRk4mVeg6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-toRk4mVeg6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-toRk4mVeg6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toRk4mVeg6 .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYvnchMx {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYvnchMx .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYvnchMx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYvnchMx .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYvrGLtu {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYvrGLtu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYvrGLtu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYvrGLtu .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYvvRZrm {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYvvRZrm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYvvRZrm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYvvRZrm .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYvHoqgX {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYvHoqgX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYvHoqgX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYvHoqgX .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYvNnwTl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYvNnwTl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYvNnwTl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYvNnwTl .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYvRFXqY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYvRFXqY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYvRFXqY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYvRFXqY .mbr-section-subtitle {
  text-align: center;
}
.cid-toKZgw828R {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-toKZgw828R .mbr-fallback-image.disabled {
  display: none;
}
.cid-toKZgw828R .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toKZgw828R .mbr-section-subtitle {
  text-align: center;
}
.cid-toLplLgjhL {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toLplLgjhL .mbr-fallback-image.disabled {
  display: none;
}
.cid-toLplLgjhL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toLplLgjhL .mbr-section-subtitle {
  text-align: left;
}
.cid-toLplLgjhL .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-toLpTS7Had {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-toLpTS7Had .mbr-fallback-image.disabled {
  display: none;
}
.cid-toLpTS7Had .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toLpTS7Had .mbr-section-subtitle {
  text-align: left;
}
.cid-toLpTS7Had .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-toMAuXxNxj {
  background-color: #353535;
}
.cid-toMAuXxNxj video,
.cid-toMAuXxNxj img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cid-toMAuXxNxj .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9b59b6;
  opacity: 0.4;
}
.cid-toMAuXxNxj .show {
  visibility: visible;
}
.cid-toMAuXxNxj .hide {
  visibility: hidden;
}
.cid-toMAuXxNxj .overlay {
  background: #000000;
  opacity: 0;
}
.cid-toMAuXxNxj .row {
  padding-left: 5% !important;
  padding-right: 5% !important;
}
.cid-toRhhj7Jcd {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-toRhhj7Jcd .mbr-fallback-image.disabled {
  display: none;
}
.cid-toRhhj7Jcd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toRhhj7Jcd .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYoofCcV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYoofCcV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYoofCcV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYoofCcV .mbr-section-subtitle {
  text-align: center;
}
.cid-tocYoh8Lqf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tocYoh8Lqf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tocYoh8Lqf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tocYoh8Lqf .mbr-section-subtitle {
  text-align: center;
}
.cid-toRZm4krzV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-toRZm4krzV .mbr-fallback-image.disabled {
  display: none;
}
.cid-toRZm4krzV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toRZm4krzV .mbr-section-subtitle {
  text-align: center;
}
